body{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: blue;
    color: rgb(20, 20, 20);
}
#cabecera p{
    color: red;
    font-weight: bold;
    font-size: 30px;
    background: rgb(104, 104, 209);
    box-shadow: 0px 2px 40px 0px rgb(124, 47, 44);
    margin: 0;
    padding: 0;
}
#container{
    width: 70%;
    padding: 10px;
    text-align: left;
    border: 2px solid rgb(124, 47, 47);
    margin: 10px auto;
}
#container h1{
    font-size: 20px;
    margin-block-start: 0;
}