body{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(118, 50, 124);
    color: #333;
}
#cabecera p{
    color: red;
    font-weight: bold;
    font-size: 30px;
    background: rgb(110, 221, 96);
    box-shadow: 0px 2px 40px 0px rgb(124, 47, 44);
    margin: 0;
    padding: 0;
}
#container{
    width: 70%;
    padding: 10px;
    text-align: left;
    border: 2px solid rgb(124, 47, 47);
    margin: 10px auto;
}
#container h1{
    font-size: 20px;
    margin-block-start: 0;
}
#cabecera #jj{
    font-size: 20px;
    margin-block-start: 0;
}
#jj{
    color: aqua;
}